<ngx-spinner></ngx-spinner>
<div *ngIf="!isLoginOrRegisterPage()"  class="header-wrapper">
    <div class="header-container">
        <div [routerLink]="['/home']" class="w-20 h-24 relative cursor-pointer">
            <img src="../assets/images/sc_logo.png" class="object-cover" />
        </div>
        <div [matMenuTriggerFor]="userMenu"
            class="ml-auto flex justify-center cursor-pointer duration-200 hover:opacity-70">
            <div class="mt-2.5 mr-2">Hi {{userName}}</div>
            <i class="fa fa-user text-3xl"></i>
            <i class="fa fa-chevron-down ml-1 mt-2.5"></i>
        </div>
        <mat-menu #userMenu="matMenu">
            <div (click)="logout()" mat-menu-item><i class="fa fa-cog"></i> <span class="ml-2">Logout</span></div>
        </mat-menu>
    </div>
</div>
<router-outlet></router-outlet>